/* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

/* RESET*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#faf8f5;
    color:#222;
    line-height:1.7;
    overflow-x:hidden;
}

/* TYPOGRAPHY */

h1,
h2,
h3{
    font-family:'Playfair Display',serif;
    color:#1f1f1f;
}

h2{
    font-size:clamp(2rem,5vw,3.8rem);
    line-height:1.15;
    margin-bottom:25px;
}

h3{
    font-size:1.8rem;
}

p{
    font-size:18px;
    color:#555;
    margin-bottom:20px;
}

/* ===========================
   GLOBAL CONTAINER
=========================== */

.container{
    width:min(1200px,90%);
    margin:auto;
}

/* ===========================
   LINKS
=========================== */

a{
    text-decoration:none;
    color:inherit;
}

/* ===========================
   LISTS
=========================== */

ul{
    list-style:none;
}

/* ===========================
   IMAGES
=========================== */

img{
    width:100%;
    display:block;
}

/* ===========================
   BUTTONS
=========================== */

button{
    border:none;
    outline:none;
    cursor:pointer;
    background:#111;
    color:#fff;
    padding:15px 35px;
    border-radius:40px;
    font-size:14px;
    font-weight:600;
    transition:.35s;
}

button:hover{
    background:#444;
    transform:translateY(-3px);
}

/* ===========================
   COMMON SECTION SPACING
=========================== */

section{
    padding:100px 0;
}

/* ===========================
   SCROLLBAR
=========================== */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#f1f1f1;
}

::-webkit-scrollbar-thumb{
    background:#888;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#555;
}

/* ===========================
   ANIMATION
=========================== */

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.show{
    animation:fadeUp .8s ease forwards;
}

/* ===========================
   RESPONSIVE
=========================== */

@media(max-width:900px){

    section{
        padding:70px 0;
    }

    h2{
        font-size:2.3rem;
    }

    p{
        font-size:16px;
    }

    .container{
        width:92%;
    }

}

.red{
    background-color: red;
    color: white
}