/* ===========================
   FOOTER SECTION
=========================== */


footer{

    background:#1c1815;

    color:white;

    text-align:center;

    padding:40px 40px;

}



/* Logo */

footer h2{

    color:white;

    font-size:40px;

    letter-spacing:3px;

    margin-bottom:20px;

}



/* Footer text */

footer p{

    color:#aaa;

    font-size:16px;

    margin-bottom:15px;

}



/* Copyright */

footer p:last-child{

    color:#777;

    font-size:14px;

    margin-top:30px;

}



/* Mobile */

@media(max-width:600px){


footer h2{

    font-size:32px;

}



footer p{

    font-size:14px;

}


}