* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testimonial-section {
  width: 100%;
  height: 100vh;

  background-image: url("../assets/testi.webp");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.testimonial-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.25);
}

.testimonial-card {
  width: 75%;
  max-width: 1100px;
  background: white;
  padding: 70px;

  text-align: center;

  position: relative;
  z-index: 2;

  box-shadow: 0 20px 40px rgba(0,0,0,.2);
}

.testimonial-card h1 {
  font-size: 55px;
  font-family: Georgia, serif;
  font-weight: 400;
  margin-bottom: 30px;
}

.testimonial-card p {
  width: 80%;
  margin: auto;
  line-height: 1.8;
  font-size: 20px;
  color: #444;
}

.testimonial-card h3 {
  margin-top: 35px;
  font-size: 22px;
  font-weight: 500;
}

.arrow {
  position: absolute;
  z-index: 3;

  width: 75px;
  height: 75px;

  border-radius: 50%;
  border: none;

  background: #e6dfd5;
  font-size: 35px;
  cursor: pointer;

  transition: .3s;
}

.arrow:hover {
  background: #d7cec1;
}

.left {
  left: 40px;
}

.right {
  right: 40px;
}





