@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    background: #EFEAE3;
    color: #1D1D1D;
}
p{
    font-family: 'PT Serif', 'Georgia', serif;
    font-size: 18px;
    font-weight: 400;
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 0.95;
    letter-spacing: -1.5px;
    text-transform: uppercase;

    transform: scaleX(0.78);
    transform-origin: left center;
}
#root{

    width:100%;

    min-height:100vh;

}


/* Main app wrapper */

.app{

    width:100%;

    overflow:hidden;

}

button {
    padding: 12px 25px;
    border: none;
    background-color: #111;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #444;
}
